@import "./reset.css";
@import "./post-content.css";
@import "./container_and_display.css";

/* start of header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.home-subs__link {
  color: #9194a1;
}
.home-subs__link:hover {
  color: #1d9bf0;
  transition: color 0.2s ease-in-out;
}
.blog__title {
  text-decoration: underline;
  font-weight: 500;
}
.search__icon {
  margin-top: 8px;
}
.search__icon-img {
  width: 25px;
}
/* end of header */

/* start of main content */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  padding: 20px 25px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  justify-content: end;
}
.card:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Increases shadow on hover */
}
.post__type-2 {
  color: rgb(67, 211, 67);
  font-weight: 500;
}
.post__type-1 {
  color: rgba(52, 126, 223, 0.996);
  font-weight: 500;
}
/* end of main content */

/* start of footer */
.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 25px 0;
}
.footer::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 100%;
  background-color: #252b46;
  z-index: -1;
}
.footer__rights {
  margin-right: auto;
}
.socials {
  display: flex;
  gap: 10px;
}
.socials__icon {
  width: 30px;
}
/* end of footer */

/* sample-post */
.article {
  display: grid;
  grid-template-columns: 650px 200px;
  gap: 50px;
}
.post__main {
  gap: 25px;
}
.samle__post-links {
  margin-top: 5px;
}
.sample__post-image {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  border: 1px solid #000;
  margin-top: 5px;
}
.image__caption {
  color: #9194a1;
  margin: 10px 0 0 10px;
}
.post__list {
  gap: 10px;
}
.post__descreption-list {
  margin-bottom: 15px;
}
.post__quote {
  background-color: #d1d1d1;
  padding: 20px 15px;
  border-left: 2px solid #374151;
  border-radius: 5px;
}
.post__quote-citation {
  margin-top: 10px;
  font-size: 18px;
  font-style: italic;
}
.author {
  background-color: #d1d1d1;
  padding: 15px 16px;
}
.archive,
.post__socials {
  margin-top: 25px;
  gap: 5px;
}
.post__buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 50px;
}
.button {
  color: rgba(52, 126, 223, 0.996);
  border: 1px solid rgba(52, 126, 223, 0.996);
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 16px;
  transition: color 0.2s ease-in-out;
}
.button:hover {
  color: #9194a1;
  border-color: #9194a1;
}
/* end of sample-post */

/* responsive design for Main page */
@media (max-width: 900px) and (min-width: 600px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 850px) and (min-width: 600px) {
  .post__image {
    width: 75%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }

  .cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
@media (max-width: 385px) {
  .post__image {
    width: 75%;
  }
  .blog__title {
    margin-left: 45px;
  }
  .footer__rights {
    margin-right: 10px;
  }
  .socials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* responsive design for sample-post page */
@media (max-width: 900px) and (min-width: 700px) {
  .article {
    width: 100%;
    grid-template-columns: 1fr 178px;
    gap: 45px;
  }
  .responsive__author {
    font-size: 12px;
  }

  .responsive__list {
    margin-left: 20px;
  }
}
@media (max-width: 700px) and (min-width: 600px) {
  .article {
    width: 100%;
    grid-template-columns: 1fr 145px;
    gap: 25px;
  }
  .responsive__author {
    font-size: 12px;
  }

  .responsive__list {
    margin-left: 20px;
  }
}
@media (max-width: 600px) {
  .article {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .pages__navigation {
    display: flex;
    flex-direction: column;
  }
  .responsive__author {
    font-size: 12px;
  }

  .responsive__list {
    margin-left: 20px;
  }
}
